* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

div.container {
  padding: 1.25rem;
  margin: 2rem auto;
  width: 31.25rem;
  height: 55rem;
  display: grid;
  background-color: black;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: white;
  border-radius: 50px;
}

.screen {
  grid-column: span 30;
  width: 28.75rem;
  height: 18rem;
  background-color: #414040;
  border-radius: 0.75rem;
  margin-top: 1.8rem;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-end;
}

.upside {
  height: 50%;
  border-radius: 0.75rem 0.75rem 0 0;
  vertical-align: middle;
}

.downside {
  height: 50%;
  border-radius: 0 0 0.75rem 0.75rem;
  font-size: 3rem;
}

.buttons {
  display: grid;
  height: 32rem;
  width: 27.5rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0.625rem;
  margin: auto;
}

.item {
  display: flex;
  grid-column: span 3;
  grid-row: span 2;
  background-color: #333;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.item17 {
  align-items: center;
  justify-content: left;
  grid-column: span 6;
  border-radius: 3.5rem;
  padding-left: 2.5rem;
}

.item1,
.item2,
.item3 {
  background-color: #a5a5a5;
  color: black;
}

.item4,
.item8,
.item12,
.item16 {
  background-color: #f1a33c;
}

.item:hover {
  cursor: pointer;
  opacity: 0.5;
}
